ul , .firstUL {
    list-style-type: none;
}
.secondUL {
    display: none;
}
.firstUL {
    margin: 0;
    padding: 0;
}
.firstUL:hover {
    text-decoration: underline;
    /* display: block; */
}
a {
    text-decoration: none;
}
.firstUL li:hover ul {
    display: block;
}
